.navbar-brand {
    margin-right: auto;
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-link {
    margin: 0 10px;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    text-align: center;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover {
    transition: all 0.3s ease;
    background-color: #fff;
    color: #20444F;
    font-weight: bold;
    text-transform: uppercase;
}


.bg-custom {
    background-color: #20444F;
}

.btn-nav-login {
    border: 1px solid #fff;
    color: #fff;
}

.btn-nav-login:hover {
    background-color: #fff;
    color: #20444F;
}

.btn-nav-register {
    background-color: #fff;
    color: #20444F;
}

.btn-nav-register:hover {
    background-color: #fff;
    color: #20444F;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-content {
    color: #20444F;
    text-align: center;
}

.search-input {
    max-width: 400px;
    margin: 0 auto;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.packages-header {
    max-width: 700px;
}

.bg-login-register{
    background: #20444F;
}

.btn-login-register{
    background: #20444F;
    color: white;
}

.btn-login-register:hover{
    background: white;
    color: #20444F;
    border: 1px solid #20444F;
}

.btn-select-register{
    background: white;
    color: #20444F;
    border: 1px solid #20444F;
}

.btn-select-register:hover{
    background: #20444F;
    color: white;
}



@media (max-width: 768px) {

    .navbar-nav .nav-link {
        margin: 0 1px;
        color: #fff;
    }

}
.package-container{
    width:100%;
    margin: 30px;
}
.package{
    padding-top: 15px;
    width:90%;
    height:200px;
    border: 5px solid #20444F;
    border-radius: 20px;
}

.vacancy{
    width: 50%;
    height: 150px;
    border: 3px solid #20444F;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    color: black;
}

.img-vacancy{
    margin-top: -4px;
    margin-left: -2px;
    width:150px;
    height:150px;
    border-radius: 20px;
}

.posisi{
    height:20px;
    font-size: 25px;
    font-weight: bold;
}

.table-vacancy{
    margin-top: -20px;
}

    .vacancy-container {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .img-vacancy {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        border-radius: 100px;
    }

    .vacancy-details {
        flex: 1;
        padding: 15px;
    }

    .posisi {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .vacancy-item-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-success {
        width: 100px;
    }

.profile-width{
    width: 50%;
}

.menu-detail{
    width: 33.33%;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
}

.menu-detail :hover{
    background: black;
    color:white;
}

.menu-detail-aktif{
    width: 33.33%;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    border-bottom: 2px solid black;
    color: black;
    text-decoration: none;
}

.btn-pelamar{
    height: 100%; width: 100%;
    border: none;
}

.btn-pelamar:hover{
    background: #20444F;
    color: white;
}